/* body{
    background-color: rgb(12, 2, 2);
    margin-left: 0%;
    margin-right: 0%;
}

#header{
    height: 100%;
    width: 100%;
    text-align: center;  
    background-size: contain;
    background-repeat: no-repeat;
}

#logo{
    margin-top: 30vh;
    width: 45px;
    height: 45px;
}
#headertext{
    text-align: center;
    color: white;
    font-family: 'Manrope', sans-serif;
}  
#mouse{
    margin-top: 12%;
    margin-bottom: 3%;
    text-align: center;
}
#headpara{
    margin-top: 0.5%;
    font-size: 15px;
}
.h2{
    margin-top: 5%;
}
.h2two{
    margin-top: 2%;
} */
/* @media screen and (max-width: 380px) {
    body{
        background-color: rgb(12, 2, 2);
        margin-left: 0%;
        margin-right: 0%;
    }
    
    #header{
        height: 100%;
        width: 100%;
        text-align: center;  
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #logo{
        margin-top: 30vh;
        width: 45px;
        height: 45px;
    }
    #headertext{
        text-align: center;
        color: white;
        font-family: 'Manrope', sans-serif;
    }  
    #mouse{
        margin-top: 12%;
        margin-bottom: 3%;
        text-align: center;
    }
    #headpara{
        margin-top: 0.5%;
        font-size: 15px;
    }
    .h2{
        margin-top: 5%;
    }
    .h2two{
        margin-top: 2%;
    }  
} */

@media screen and (min-width: 1280px) {

    body{
        background-color: rgb(12, 2, 2);
        margin-left: 0%;
        margin-right: 0%;
    }
    
    #header{
        height: 100%;
        width: 100%;
        text-align: center;  
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #logo{
        margin-top: 25vh;
        width: 45px;
        height: 45px;
    }
    #headertext{
        text-align: center;
        color: white;
        font-family: 'Manrope', sans-serif;
    }  
    #mouse{
        margin-top: 12%;
        margin-bottom: 3%;
        text-align: center;
    }
    #headpara{
        margin-top: 0.5%;
        font-size: 15px;
    }
    .h2{
        margin-top: 5%;
    }
    .h2two{
        margin-top: 2%;
    }
    
}

/* @media screen and (min-width: 1000px) {

    body{
        background-color: rgb(12, 2, 2);
        margin-left: 0%;
        margin-right: 0%;
    }
    
    #header{
        height: 100%;
        width: 100%;
        text-align: center;  
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #logo{
        margin-top: 25vh;
        width: 45px;
        height: 45px;
    }
    #headertext{
        text-align: center;
        color: white;
        font-family: 'Manrope', sans-serif;
    }  
    #mouse{
        margin-top: 10%;
        margin-bottom: 3%;
        text-align: center;
    }
    #headpara{
        margin-top: 0.5%;
        font-size: 15px;
    }
    .h2{
        margin-top: 6.3%;
    }
    .h2two{
        margin-top: 2%;
    }
    
}

@media screen and (min-width: 1280px) {

    body{
        background-color: rgb(12, 2, 2);
        margin-left: 0%;
        margin-right: 0%;
    }
    
    #header{
        height: 100%;
        width: 100%;
        text-align: center;  
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #logo{
        margin-top: 25vh;
        width: 45px;
        height: 45px;
    }
    #headertext{
        text-align: center;
        color: white;
        font-family: 'Manrope', sans-serif;
    }  
    #mouse{
        margin-top: 12%;
        margin-bottom: 3%;
        text-align: center;
    }
    #headpara{
        margin-top: 0.5%;
        font-size: 15px;
    }
    .h2{
        margin-top: 5%;
    }
    .h2two{
        margin-top: 2%;
    }
    
} */